


*{margin: 0; padding: 0;}  /* 保证页面占据全部空间 */

/* ———————————————————————————————————————— */

body{  /* 页面整体的一些定义 */
    width: 100%;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
    background-color: rgb(0, 5, 5);
    font-family: sans-serif;
    line-height: 24px;
    min-width: 1280px;}

/* —————————————— navbar ————————————————— */

.navbar_background{
    height: 45px;
    width: 100%;  /* 宽度相关尽量用百分比 */
    background-color: rgb(5, 5, 15);}

.navbar{
    width: 80%;  /* 导航栏两边留空 */
    margin: auto;}  /* 导航栏自适应居中 */

.navbar_name{
    padding-top: 10px;  /* 通过增加框的大小改变位置 */
    padding-left: 3%;
    font-family: "Times New Roman";
    font-size: 26px;
    color: rgb(51, 147, 166);
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.4);
    float: left;}

.navbar_icon_img img{
    padding-top: 2px;
    padding-left: 2%;
    width: 42px;
    float: left;}

.navbar_index_list ul{
    padding-top: 12px;
    margin-left: 6%;  /* 直接偏移框的位置 */
    float: left;}

.navbar_index_list li{
    font-size: 16px;
    display: inline;}

.navbar_index_list a:link{
    font-weight: bold;
    color: rgb(153, 138, 128);
    text-align: center;
    padding: 16px;
    text-decoration: none;}

.navbar_index_list a:visited{
    font-weight: bold;
    color: rgb(153, 138, 128);
    text-align: center;
    padding: 16px;
    text-decoration: none;}

.navbar_index_list a:hover{color: rgb(26, 161, 240);}

.navbar_category_locate_helper{
    margin-left: 18.5%;
    margin-top: -26%;}  /* 跨越背景图片连接category栏 */

.navbar_category{  /* 下拉菜单框 */
    display: none;  /* 隐藏显示 */
    margin-left: 410px;
    margin-top: -6px;
    width: 180px;
    height: 140px;
    background-color: rgb(5, 5, 15);
    border-radius: 8px;
    box-shadow: 0 1px 1px rgba(255, 255, 255, 0.1);
    float: left;
    position: absolute;}  /* abs不占页面空间，直接在页面定位显示 */

.navbar_category ul{
    margin-top: -6px;
    list-style-type: none;
    padding-top: 12px;
    float: left;
    position: absolute;}

.navbar_category li{
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    padding-left: 12px;}

.navbar_category a:link{
    color: rgb(26, 161, 240);
    text-align: center;
    padding: 8px;
    text-decoration: none;}

.navbar_category a:visited{
    color: rgb(26, 161, 240);
    text-align: center;
    padding: 8px;
    text-decoration: none;}

.navbar_category a:hover{color: rgb(1, 84, 128);}

/* ——————————— background and icon ——————————— */


.background{  /* 定位部分还需深入理解 */
    width: 100%;
    float: left;
    position: relative;}  /* 生成一个基于body的父元素用于指导absolute定位 */

.background img{
    width: 100%;  /* 图片宽度需明确定义 */
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.4);
    position: absolute;}

.icon{
    margin-top: 26%;  /* 随分辨率变动位置，保证放缩比与图片尽量一致 */
    margin-left: 10%;
    position: relative;}

.icon img{  /* 规整为圆形标志 */
    margin-top: -120px;  /* 回调精细位置 */
    border-radius: 100px;
    display: inline;
    width: 200px;
    height: 200px;
    box-shadow: 0 0 20px rgba(255,255,255,0.5);
    position: absolute;}

/* ————————————— split bar ————————————— */

.split{  /* 下拉分隔 */
    background-color: black;
    width: 100%;
    height: 30px;
    margin-top: 51%;  /* 随分辨率变动位置 */
    box-shadow: 0 0 4px rgba(255, 255, 255, 0.4);}

/* ————————— content and left ——————————— */

.content{width: 80%; margin: auto;}

.left_content{
    width: 18%;
    float: left;
    padding-top: 90px;}  /* 由于图片大小固定，故该距离为px */

.left_content a:link{  /* 左部内部链接灰色 */
    color: rgb(153, 138, 128);
    text-decoration: none;}

.left_content a:visited{  /* 点选不变 */
    color: rgb(153, 138, 128);
    text-decoration: none;}

.left_content a:hover{  /* 放置出现下划线 */
    color: rgb(26, 161, 240);
    text-decoration:underline;}

.left_name{
    font-size: 22px;
    font-weight: bold;
    padding-left: 10px;
    padding-bottom: 4px;
    color: white;}

.left_description{
    padding-left: 8px;
    padding-bottom: 8px;  /* 名字区与描述区分隔 */
    font-size: 14px;
    color: rgb(153, 138, 128);}

/* ————————— content middle ————————— */

.middle_content{
    width: 60%;
    float: left;
    padding-left: 3%;}

.middle_title{
    padding-top: 30px;
    padding-left: 4%;
    font-size: 30px;
    color: rgb(153, 138, 128);}

.middle_table{
    width: 100%;
    border-collapse: collapse;
    background-color: black;
    border-radius: 16px;
    box-shadow: 0 0 2px rgba(10, 29, 66, 1);}

.middle_table td{
    font-size: 16px;
    padding: 18px 18px 18px 24px;
    text-align: left;
    border-top: 1px solid rgba(255, 255, 255, 0.1);}

.middle_table a:link{
    font-weight: bold;
    color: rgb(213, 198, 168);
    text-decoration: none;}

.middle_table a:visited{
    color: rgb(213, 198, 168);
    text-decoration: none;}

.middle_table a:hover{color: rgb(80, 124, 168);}

.middle_table .the_first_left_list{
    font-size: 16px;
    padding: 18px 18px 18px 24px;
    text-align: left;
    border-top: none;}

.middle_table .right_list{
    font-size: 12px;
    padding: 18px 18px 18px 20px;
    text-align: right;
    color: rgb(153, 138, 128);
    border-top: 1px solid rgba(255,255,255,0.1);}

.middle_table .double_right_list{  /* 双层右侧总栏 */
    padding: 0 18px 0 0;  /* 0的padding能压缩距离，机理暂未知 */
    border-top: 1px solid rgba(255, 255, 255, 0.1);}

.middle_table .double_table{
    width: 100%;
    border-collapse: collapse;}

.middle_table .double_td{
    font-size: 12px;
    padding: 0;  /* 0的padding能压缩距离，机理暂未知 */
    text-align: right;
    color: rgb(153, 138, 128);
    border-top: none;}

/* ——————————— content right ——————————— */

.right_content{
    width: 16%;
    margin-left: 30px;  /* 与中框留出间隙 */
    float: left;
    position: relative;}

.right_description{
    width: 100%;
    padding: 10px;  /* 文字与框留出间隙 */
    margin-top: 20px;  /* padding增加框内距离，margin增加框外距离 */
    font-size: 14px;
    color: white;
    background-color: black;
    border-radius: 6px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);}

.block1{  /* 直接作为背景 */
    width: 100%;
    padding: 10px;  /* 与描述框大小一致 */
    margin-top: 20px;
    height: 160px;
    background-color: rgb(5, 5, 5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);}

.block2{
    width: 100%;
    padding: 10px;
    margin-top: 160px;
    height: 200px;
    background-color: rgb(5, 5, 5);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 18px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.1);}

.right_title1{  /* 文字作为绝对位置加上 */
    margin-left: 20%;
    margin-top: -170px;
    font-size: 16px;
    color: rgb(153, 138, 128);
    position: absolute;}

.right_title2{
    margin-left: 20%;
    margin-top: -230px;
    font-size: 16px;
    color: rgb(153, 138, 128);
    position: absolute;}

.right_list1{
    margin-left: 5%;
    margin-top: -140px;}

.right_list1 ul{
    width: 100%;
    float: left;
    list-style-type: none;
    position: absolute;}

.right_list1 li{
    padding: 4px 4px 4px 8px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-size: 14px;}

.right_list1 a:link{
    color: rgb(26, 161, 240);
    padding: 8px;
    text-decoration: none;}

.right_list1 a:visited{
    color: rgb(26, 161, 240);
    padding: 8px;
    text-decoration: none;}

.right_list1 a:hover{color: rgb(1, 84, 128);}

.right_list2{
    margin-left: 5%;
    margin-top: -200px;}

.right_list2 ul{
    width: 100%;
    float: left;
    list-style-type: none;
    position: absolute;}

.right_list2 li{
    padding: 4px 4px 4px 16px;
    border-top: 1px solid rgba(255,255,255,0.1);
    font-size: 14px;}

.right_list2 a:link{
    color: rgb(26, 161, 240);
    padding: 8px;
    text-decoration: none;}

.right_list2 a:visited{
    color: rgb(26, 161, 240);
    padding: 8px;
    text-decoration: none;}

.right_list2 a:hover{color: rgb(1, 84, 128);}


footer{text-align: center;font-size: 14px}

/*footer a:link{
	color: rgb(26,161,240);
	padding: 8px;
	text-decoration: none;}
footer a:visited{
	color: rgb(26,161,240);
	padding: 8px;
	text-decoration: none;}
footer a:hover{color: rgb(1,84,128);}*/












